$info: #4c648e;
$link: $info;
$danger: #c03320;
$warning: #ad6d60;
$light: #e9f0f3;
$grey: #6b716f;
$grey-light: #e5e5cf;
$primary: $grey;
$pageloader-opacity: 0.85;
$modal-content-width: 90%;
@import './bulma/bulma.sass';
@import '../../assets/css/bulma-badge.min.css';
@import './bulma/sass/extensions/node_modules/bulma-extensions/bulma-pageloader/dist/css/bulma-pageloader.sass';
@import './bulma/sass/extensions/node_modules/bulma-extensions/bulma-pricingtable/dist/css/bulma-pricingtable.sass';
@import './bulma/sass/extensions/node_modules/bulma-extensions/bulma-collapsible/src/sass/index.sass';
@import './bulma/sass/extensions/node_modules/bulma-extensions/bulma-carousel/src/sass/index.sass';
@import './bulma/sass/extensions/node_modules/bulma-extensions/bulma-dashboard/src/bulma-dashboard.sass';
@import '../bulma-badge.min.css';